*{
	font-family: "Microsoft YaHei";
	font-size:12px;
}

QLabel{
	color: #82858A;
}

QLineEdit{
	border:1px solid #30363F;
	color:#FFFFFF;
	min-height:26px;
	border-radius:3px;
	background-color:#191F29;
}

QLineEdit:hover{
	border:1px solid #D1D1D1;
}
QLineEdit:focus {
	border:1px solid #D1D1D1;
}

QLineEdit:read-only {
	color: #82858A;
}

QCheckBox{
	color:#82858A;
}
QCheckBox:disabled{
	color:#82858A;
}
QCheckBox::indicator {
    width: 14px;
    height: 14px;
}
QCheckBox::indicator:unchecked {
    image: url(:/picture/checkbox_uncheck);
}
QCheckBox::indicator:checked {
    image: url(:/picture/checkbox_check);
}

QRadioButton{
	color:#82858A;
}
QRadioButton:disabled{
	color:#20242B;
}
QRadioButton::indicator {
    width: 14px;
    height: 14px;
}
QRadioButton::indicator:unchecked {
    image: url(:/picture/checkbox_uncheck);
}
QRadioButton::indicator:checked {
    image: url(:/picture/checkbox_check);
}

QSpinBox{
	border:1px solid #30363F;
	color:#FFFFFF;
	min-height:26px;
	border-radius:3px;
	background-color:#191F29;
}
QSpinBox:hover{
	border:1px solid #D1D1D1;
}
QSpinBox:focus {
	border:1px solid #D1D1D1;
}
QSpinBox::up-button{
	height: 13px;
	image: url(:/picture/top);
}
QSpinBox::up-button:hover{
	height: 13px;
	image: url(:/picture/top_hover);
}
QSpinBox::up-button:hover{
	height: 13px;
	image: url(:/picture/top_hover);
}
QSpinBox::down-button{
	height: 13px;
	image: url(:/picture/down);
}
QSpinBox::down-button:hover{
	height: 13px;
	image: url(:/picture/down_hover);
}
QSpinBox::down-button:hover{
	height: 13px;
	image: url(:/picture/down_hover);
}
QTabWidget{
	border:none;
	background-color: #191F29;
}
QTabWidget::pane { /* The tab widget frame */
    border: 0px solid #C2C7CB;
}
QTabWidget::tab-bar {
    left: 5px; /* move to the right by 5px */
}
QTabBar::tab {
	color:#EEEEEE;
    border: 0px solid #C4C4C3;
	border-radius:3px;
    min-width: 45px;
    padding: 2px;
} 
QTabBar::tab:selected,
QTabBar::tab:hover {
	color:QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(252,172,141,1), stop: 1 rgba(229,101,143,1));
 } 
QTabBar::tab:selected {
    color:QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(252,172,141,1), stop: 1 rgba(229,101,143,1));
}
QTabBar::tab:!selected {
    color:#82858A;
}

AmountSpinBox{
	border:1px solid #30363F;
	color:#FFFFFF;
	min-height:26px;
	border-radius:3px;
	background-color:#191F29;
}
AmountSpinBox:hover{
	border:1px solid #D1D1D1;
}
AmountSpinBox:focus {
	border:1px solid #D1D1D1;
}
AmountSpinBox::up-button{
	height: 13px;
	image: url(:/picture/top);
}
AmountSpinBox::up-button:hover{
	height: 13px;
	image: url(:/picture/top_hover);
}
AmountSpinBox::up-button:hover{
	height: 13px;
	image: url(:/picture/top_hover);
}
AmountSpinBox::down-button{
	height: 13px;
	image: url(:/picture/down);
}
AmountSpinBox::down-button:hover{
	height: 13px;
	image: url(:/picture/down_hover);
}
AmountSpinBox::down-button:hover{
	height: 13px;
	image: url(:/picture/down_hover);
}

QComboBox{
	border:1px solid #30363F;
	min-width:157px;
	color:#FFFFFF;
	min-height:26px;
	border-radius:3px;
	background-color:#191F29;
	subcontrol-origin: padding;
	subcontrol-position: top right;
}

QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 30px;
	border-left-width: 0px;
	border-left-color: gray;
	border-left-style: solid;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	image: url(:/picture/down);
}

QComboBox::down-arrow:hover {
	image: url(:/picture/down_hover);
}

QComboBox::down-arrow:pressed {
	image: url(:/picture/down_hover);
}

QComboBox QAbstractItemView{
	font-size:12px;
	background-color:#191F29;
	color: #5E6166;
	selection-color: #D1D1D1;
	selection-background-color: #0E131A;
	outline: 0px;
	border:none;
}
QComboBox QAbstractItemView::item
{
	font-size:12px;
	min-height:24px;
	border:none;
}
QComboBox QAbstractItemView::item:hover
{
	border:none;
}

QTableView {
	font-size:10px;
	color:rgba(231,231,231,1);
    gridline-color: #222831;
    background-color: #191F29;
	alternate-background-color: #191F29;
    selection-color: #82858A;
    selection-background-color: rgb(77, 77, 77);
    border: 0px solid gray;
    border-radius: 3px;
	text-align: center;
}
QTableView::item{
	text-align: center;
}

QHeaderView {
	font-size:10px;
	color:rgba(130,133,138,1);
    background-color: #191F29;
    border: none;
    border-radius:3px;
    min-height:30px;
}
QHeaderView::section {
	font-size:10px;
	color:rgba(130,133,138,1);
    background-color: #191F29;
    border: none;
    border-radius:3px;
    min-height:30px;
} 

BitcoinGUI,
QWidget#AddressBookPage,
QDialog#AskPassphraseDialog,
QDialog#CoinControlDialog,
QWidget#RPCConsole,
QDialog#EditAddressDialog,
QDialog#HelpMessageDialog,
QWidget#Intro,
QDialog#OpenURIDialog,
QDialog#OptionsDialog,
QDialog#ReceiveRequestDialog,
QDialog#SignVerifyMessageDialog,
QDialog#TransactionDescDialog
{
	background-color:#0E1302;
}
 
QRImageWidget{
	background-color: #191F29;
}

ReceiveCoinsDialog QFrame#frame,#frame2{
	background-color:#191F29;
}

ReceiveRequestDialog QTextEdit#outUri{
	background-color:#191F29;
}

ReceiveRequestDialog QPushButton#btnCopyURI,
ReceiveRequestDialog QPushButton#btnCopyAddress,
ReceiveRequestDialog QPushButton#btnSaveAs
{	
	min-width:85px;
	max-width:85px;
	min-height:26px;
	max-height:26px;
	border: 1px solid #82858A;
	font-size:12px;
	color:#82858A;
	border-radius:3px;
}

ReceiveRequestDialog QPushButton#btnCopyURI:hover,
ReceiveRequestDialog QPushButton#btnCopyAddress:hover,
ReceiveRequestDialog QPushButton#btnSaveAs:hover{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
}

ReceiveRequestDialog QPushButton#btnCopyURI:press,
ReceiveRequestDialog QPushButton#btnCopyAddress:press,
ReceiveRequestDialog QPushButton#btnSaveAs:press{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius:3px;
}

ReceiveRequestDialog QPushButton#buttonBox{
	min-width:72px;
	max-width:72px;
	min-height:26px;
	max-height:26px;
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(252,172,141,1), stop: 1 rgba(229,101,143,1));
	font-size:12px;
	color:#FFFFFF;
	border-radius:3px;
}

ReceiveRequestDialog QPushButton#buttonBox:hover{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

ReceiveRequestDialog QPushButton#buttonBox:press{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

OverviewPage QFrame#frame{
	background-color: #191F29;
	border-radius:3px;
}

OverviewPage QFrame#frame_2{
	background-color: #191F29;
	border-radius:3px;
}

OverviewPage QLabel#label_5,#labelBalanceText,#labelPendingText,#labelImmatureText,#labelTotalText,#label_4{
	font-size: 12px;
	color:rgba(130,133,138,1);
}

OverviewPage QLabel#labelBalance, #labelUnconfirmed, #labelImmature, #labelTotal,
#labelWatchAvailable,#labelWatchPending,#labelWatchImmature,#labelWatchTotal{
	font-size: 12px;
	color: rgba(255,255,255,1);
}

SendCoinsDialog QFrame#frameCoinControl,
SendCoinsDialog QFrame#frameFee,
SendCoinsDialog QScrollArea#scrollArea,
OptionsDialog QFrame#frame{
	background-color: #191F29;
	border:0px;
	border-radius:3px;
}

SendCoinsDialog QWidget#scrollAreaWidgetContents{
	background-color: #191F29;
}

SendCoinsEntry{
	background-color: #191F29;
}

SendCoinsEntry QLabel#payToLabel,#labellLabel,#amountLabel,#messageLabel
{
	font-size:12px;
	color:#D1D1D1;
}

SendCoinsEntry QLabel#labelFeeHeadline{
	font-size:12px;
	color:rgba(130,133,138,1);
}
SendCoinsEntry QLabel#messageTextLabel{
	font-size:12px;
	color:#FFFFFF;
}

SendCoinsDialog QLabel#labelFeeEstimation,#labelSmartFee2,#labelSmartFee3,#labelSmartFee{
	font-size:12px;
	color:#FFFFFF;
}

SendCoinsDialog QLabel#labelFeeEstimation:disabled,#labelSmartFee2:disabled,#labelSmartFee3:disabled,#labelSmartFee:disabled{
	font-size:12px;
	color:#82858A;
}

SendCoinsDialog QSlider#sliderSmartFee::groove:horizontal{
	height:2px;
	background: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 #FBAD8C, stop: 1 #E97792);
	border-radius:1px;
}

SendCoinsDialog QSlider#sliderSmartFee::handle:horizontal{
    width: 6px;
	height:6px;
    background: rgb(255,255,255);
    margin: -3px 0px -3px 0px;
    border-radius: 3px;
}

SendCoinsDialog QLabel#labelSmartFeeNormal,#confirmationTargetLabel,#labelSmartFeeFast{
	font-size:10px;
	color:#FFFFFF;
}

SendCoinsDialog QLabel#labelSmartFeeNormal:disabled,#confirmationTargetLabel:disabled,#labelSmartFeeFast:disabled{
	font-size:10px;
	color:#82858A;
}

SendCoinsDialog QCheckBox#checkBoxMinimumFee{
	font-size:12px;
	color:#FFFFFF;
}
SendCoinsDialog QCheckBox#checkBoxMinimumFee:disabled{
	font-size:12px;
	color:#82858A;
}

SendCoinsDialog QLabel#labelMinFeeWarning{
	font-size:12px;
	color:#FFFFFF;
}

SendCoinsDialog QLabel#labelMinFeeWarning:disabled{
	font-size:12px;
	color:#82858A;
}

SendCoinsDialog QRadioButton#radioSmartFee,#radioCustomFee{
	font-size:12px;
	color:#FFFFFF;
}

SendCoinsDialog QRadioButton#radioCustomPerKilobyte,#radioCustomAtLeast{
	font-size:12px;
	color:#FFFFFF;
} 

SendCoinsDialog QRadioButton#radioCustomPerKilobyte:disabled,#radioCustomAtLeast:disabled{
	font-size:12px;
	color:#82858A;
}

SendCoinsDialog QLabel#labelFeeHeadline{
	font-size:12px;
	color:#82858A;
}

SendCoinsDialog QLabel#labelFeeMinimized{
	font-size:12px;
	color:#FFFFFF;
}

SendCoinsDialog QPushButton#buttonChooseFee,
SendCoinsDialog QPushButton#buttonMinimizeFee{
	min-width:57px;
	max-width:57px;
	min-height:26px;
	max-height:26px;
	background:#191F29;
	border:1px solid #82858A;
	color:#82858A;
	border-radius:3px;
}

SendCoinsDialog QPushButton#buttonChooseFee:hover,
SendCoinsDialog QPushButton#buttonMinimizeFee:hover{
	border:1px solid #FFFFFF;
	color:#FFFFFF;
}

SendCoinsDialog QPushButton#buttonChooseFee:press,
SendCoinsDialog QPushButton#buttonMinimizeFee:press{
	border:1px solid #FFFFFF;
	color:#FFFFFF;
}

SendCoinsDialog QLabel#label,
SendCoinsDialog QLabel#labelBalance{
	font-size:12px;
	color:#82858A;
}

SendCoinsDialog QPushButton#sendButton{
	min-width:121px;
	max-width:121px;
	min-height:26px;
	max-height:26px;
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(252,172,141,1), stop: 1 rgba(229,101,143,1));
	font-size:12px;
	color:#FFFFFF;
	border-radius:3px;
}

SendCoinsDialog QPushButton#sendButton:hover{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

SendCoinsDialog QPushButton#sendButton:press{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

SendCoinsDialog QPushButton#clearButton,
SendCoinsDialog QPushButton#addButton{
	width:97px;
	height:26px;
	border: 1px solid #82858A;
	font-size:12px;
	color:#82858A;
	border-radius:3px;
}

SendCoinsDialog QPushButton#clearButton:hover,
SendCoinsDialog QPushButton#addButton:hover{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
}

SendCoinsDialog QPushButton#clearButton:press,
SendCoinsDialog QPushButton#addButton:press{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius:3px;
}

ReceiveCoinsDialog QLabel#label_5{
	font-size:12px;
	color:rgba(130,133,138,1);
}

ReceiveCoinsDialog QLabel#label,
ReceiveCoinsDialog QLabel#label_2,
ReceiveCoinsDialog QLabel#label_3{
	font-size:12px;
	color:rgba(209,209,209,1);
}

ReceiveCoinsDialog QCheckBox#reuseAddress{
	font-size:12px;
	color:rgba(130,133,138,1);
}

ReceiveCoinsDialog QLabel#label_6{
	font-size:12px;
	color:rgba(130,133,138,1);
}

ReceiveCoinsDialog QPushButton#receiveButton{
	min-width:121px;
	max-width:121px;
	min-height:26px;
	max-height:26px;
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(252,172,141,1), stop: 1 rgba(229,101,143,1));
	font-size:12px;
	color:#FFFFFF;
	border-radius:3px;
}

ReceiveCoinsDialog QPushButton#receiveButton:hover{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

ReceiveCoinsDialog QPushButton#receiveButton:press{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

ReceiveCoinsDialog QPushButton#clearButton,
ReceiveCoinsDialog QPushButton#showRequestButton,
ReceiveCoinsDialog QPushButton#removeRequestButton
{
	min-width:57px;
	max-width:57px;
	min-height:26px;
	max-height:26px;
	border: 1px solid #82858A;
	font-size:12px;
	color:#82858A;
	border-radius:3px;
}

ReceiveCoinsDialog QPushButton#clearButton:hover,
ReceiveCoinsDialog QPushButton#showRequestButton:hover,
ReceiveCoinsDialog QPushButton#removeRequestButton:hover{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
}

ReceiveCoinsDialog QPushButton#clearButton:press,
ReceiveCoinsDialog QPushButton#showRequestButton:press,
ReceiveCoinsDialog QPushButton#removeRequestButton:press{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius:3px;
}

ReceiveCoinsDialog QFrame#frame,
ReceiveCoinsDialog QFrame#frame2,
AddressBookPage QFrame#frame,
AskPassphraseDialog QFrame#frame,
OpenURIDialog QFrame#frame{
	background-color:#191F29;
	border-radius:3px;
}

TransactionView{
	background-color:#191F29;
	border-radius:3px;
}

WalletView QPushButton#exportButton{
	min-width:64px;
	max-width:64px;
	min-height:26px;
	max-height:26px;
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(252,172,141,1), stop: 1 rgba(229,101,143,1));
	font-size:12px;
	color:#FFFFFF;
	border-radius:3px;
}

WalletView QPushButton#exportButton:hover{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

WalletView QPushButton#exportButton:press{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

AddressBookPage QPushButton#exportButton{
	min-width:72px;
	max-width:72px;
	min-height:26px;
	max-height:26px;
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(252,172,141,1), stop: 1 rgba(229,101,143,1));
	font-size:12px;
	color:#FFFFFF;
	border-radius:3px;
}

AddressBookPage QPushButton#exportButton:hover{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

AddressBookPage QPushButton#exportButton:press{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}
AddressBookPage QPushButton#newAddress,
AddressBookPage QPushButton#copyAddress,
AddressBookPage QPushButton#deleteAddress
{
	min-width:85px;
	max-width:85px;
	min-height:26px;
	max-height:26px;
	border: 1px solid #82858A;
	font-size:12px;
	color:#82858A;
	border-radius:3px;
}

AddressBookPage QPushButton#newAddress:hover,
AddressBookPage QPushButton#copyAddress:hover,
AddressBookPage QPushButton#deleteAddress:hover{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
}

AddressBookPage QPushButton#newAddress:press,
AddressBookPage QPushButton#copyAddress:press,
AddressBookPage QPushButton#deleteAddress:press{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius:3px;
}

AddressBookPage QPushButton#closeButton{
	min-width:72px;
	max-width:72px;
	min-height:26px;
	max-height:26px;
	border: 1px solid #82858A;
	font-size:12px;
	color:#82858A;
	border-radius:3px;
}

AddressBookPage QPushButton#closeButton:hover{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
}

AddressBookPage QPushButton#closeButton:press{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius:3px;
}

AddressBookPage QLabel#labelExplanation{
	font-size:12px;
	color:rgba(130,133,138,1);
}

AskPassphraseDialog QLabel#warningLabel{
	font-size:12px;
	color:rgba(130,133,138,1);
}

AskPassphraseDialog QLabel#passLabel1,
AskPassphraseDialog QLabel#passLabel2,
AskPassphraseDialog QLabel#passLabel3{
	font-size:12px;
	color:rgba(209,209,209,1);
}

OpenURIDialog QLabel#label_2{
	font-size:12px;
	color:rgba(130,133,138,1);
}

OpenURIDialog QLabel#label{
	font-size:12px;
	color:rgba(209,209,209,1);
}

OpenURIDialog QPushButton#selectFileButton{
	min-width:70px;
	max-width:70px;
	min-height:26px;
	max-height:26px;
	border: 1px solid #82858A;
	font-size:12px;
	color:#82858A;
	border-radius:3px;
}

OpenURIDialog QPushButton#selectFileButton:hover{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
}

OpenURIDialog QPushButton#selectFileButton:press{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius:3px;
}

OpenURIDialog QPushButton#pushButton{
	min-width:85px;
	max-width:85px;
	min-height:26px;
	max-height:26px;
	border: 1px solid #82858A;
	font-size:12px;
	color:#82858A;
	border-radius:3px;
}

OpenURIDialog QPushButton#pushButton:hover{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
}

OpenURIDialog QPushButton#pushButton:press{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius:3px;
}

OpenURIDialog QPushButton#pushButton_2{
	min-width:72px;
	max-width:72px;
	min-height:26px;
	max-height:26px;
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(252,172,141,1), stop: 1 rgba(229,101,143,1));
	font-size:12px;
	color:#FFFFFF;
	border-radius:3px;
}

OpenURIDialog QPushButton#pushButton_2:hover{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

OpenURIDialog QPushButton#pushButton_2:press{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

SignVerifyMessageDialog QLabel#infoLabel_SM,
SignVerifyMessageDialog QLabel#infoLabel_VM{
	font-size:12px;
	color:rgba(209,209,209,1);
}

SignVerifyMessageDialog QWidget#tabSignMessage,
SignVerifyMessageDialog QWidget#tabVerifyMessage, 
OptionsDialog QWidget#tabMain,
OptionsDialog QWidget#tabWallet,
OptionsDialog QWidget#tabNetwork,
OptionsDialog QWidget#tabWindow,
OptionsDialog QWidget#tabDisplay,
RPCConsole QWidget#tab_info,
RPCConsole QWidget#tab_console,
RPCConsole QWidget#tab_nettraffic,
RPCConsole QWidget#tab_peers{
	background-color:#191F29;
	border-radius:3px;
}
