*{
	font-family: "Microsoft YaHei";
	font-size:12px;
	outline:0px;
}

QLabel{
	color: #82858A;
}

QLineEdit{
	border:1px solid #30363F;
	color:#E1E1E1;
	min-height:24px;
	border-radius:3px;
	background-color:#191F29;
	padding-left:10px;
}

QLineEdit:hover{
	border:1px solid #D1D1D1;
}
QLineEdit:focus {
	border:1px solid #D1D1D1;
}
QLineEdit:disabled {
	color: #82858A;
}
QLineEdit:read-only {
	color: #82858A;
}

QScrollBar
{
	background:#0C0F15; 
	width: 6px;
	margin: 0 0 0 0;
	border:none;
	border-radius:3px;
}

QScrollBar::handle
{
	background:#82858A;
	border:none;
	border-radius:3px;
}

QScrollBar::handle:hover
{
	background:#82858A;
	border:none;
}
QScrollBar::add-line:vertical
{
	background:#0C0F15; 
	height: 0px; 
	subcontrol-position:bottom;
	subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
	background:#0C0F15;
	height: 0px;
	subcontrol-position: top;
	subcontrol-origin: margin;
}

QScrollBar::add-page:vertical, 
QScrollBar::sub-page:vertical
{
	background:#0C0F15;
}

QPlainTextEdit{
	border:1px solid #30363F;
	color:#E1E1E1;
	min-height:24px;
	border-radius:3px;
	background-color:#191F29;
}

QPlainTextEdit:hover{
	border:1px solid #D1D1D1;
}
QPlainTextEdit:focus {
	border:1px solid #D1D1D1;
}

QPlainTextEdit:read-only {
	color: #82858A;
}

QTextEdit{
	border:1px solid #30363F;
	color:#E1E1E1;
	min-height:24px;
	border-radius:3px;
	background-color:#191F29;
}

QTextEdit:hover{
	border:1px solid #30363F;
}
QTextEdit:focus {
	border:1px solid #30363F;
}

QTextEdit:read-only {
	color: #82858A;
}

QCheckBox{
	color:#82858A;
}
QCheckBox:disabled{
	color:#82858A;
}
QCheckBox::indicator {
    width: 14px;
    height: 14px;
}
QCheckBox::indicator:unchecked {
    image: url(:/picture/checkbox_uncheck);
}
QCheckBox::indicator:checked {
    image: url(:/picture/checkbox_check);
}

QRadioButton{
	color:#82858A;
}
QRadioButton:checked{
	color:#FFFFFF;
}
QRadioButton:unchecked {
	color:#82858A;
}
QRadioButton:disabled{
	color:#20242B;
}
QRadioButton::indicator {
    width: 14px;
    height: 14px;
}
QRadioButton::indicator:unchecked {
    image: url(:/picture/checkbox_uncheck);
}
QRadioButton::indicator:checked {
    image: url(:/picture/checkbox_check);
}

QSpinBox{
	border:1px solid #30363F;
	color:#FFFFFF;
	min-height:24px;
	border-radius:3px;
	background-color:#191F29;
}
QSpinBox:hover{
	border:1px solid #D1D1D1;
}
QSpinBox:focus {
	border:1px solid #D1D1D1;
}
QSpinBox::up-button{
	height: 13px;
	image: url(:/picture/top);
}
QSpinBox::up-button:hover{
	height: 13px;
	image: url(:/picture/top_hover);
}
QSpinBox::up-button:hover{
	height: 13px;
	image: url(:/picture/top_hover);
}
QSpinBox::down-button{
	height: 13px;
	image: url(:/picture/down);
}
QSpinBox::down-button:hover{
	height: 13px;
	image: url(:/picture/down_hover);
}
QSpinBox::down-button:hover{
	height: 13px;
	image: url(:/picture/down_hover);
}
QTabWidget{
	border:none;
	background-color: #191F29;
}
QTabWidget::pane { /* The tab widget frame */
    border: 0px solid #C2C7CB;
}
QTabWidget::tab-bar {
    left: 5px; /* move to the right by 5px */
}
QTabBar::tab {
	color:#EEEEEE;
    border: 0px solid #C4C4C3;
	border-radius:3px;
    min-width: 45px;
    padding: 2px;
} 
QTabBar::tab:selected,
QTabBar::tab:hover {
	color:QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(252,172,141,1), stop: 1 rgba(229,101,143,1));
 } 
QTabBar::tab:selected {
    color:QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(252,172,141,1), stop: 1 rgba(229,101,143,1));
}
QTabBar::tab:!selected {
    color:#82858A;
}

QSlider::groove:horizontal{
	height:2px;
	background: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 #FBAD8C, stop: 1 #E97792);
	border-radius:1px;
}

QSlider::handle:horizontal{
    width: 10px;
	height:10px;
    background: rgb(255,255,255);
    margin: -5px 0px -5px 0px;
    border-radius: 5px;
}

QGroupBox
{
	border: 0px solid white;
}
QGroupBox:title
{
	color:#FFFFFF;
	subcontrol-origin: margin;
}

QProgressBar
{ 
	background-color: #191F29; 
	border: 0px solid grey; 
    min-height:6px; 
	max-height: 6px;
    border-radius: 3px; 
	padding: 1px; 
	text-align: right;
} 
QProgressBar::chunk {
	background: QLinearGradient(x1: 0, y1: 0, 
        x2: 1, y2: 0, stop: 0 #FCAC8D, stop: 1 #E5658F);
	border-radius: 3px;
	margin: 0px;
}

AmountSpinBox{
	border:1px solid #30363F;
	color:#FFFFFF;
	min-height:24px;
	border-radius:3px;
	background-color:#191F29;
}
AmountSpinBox:hover{
	border:1px solid #D1D1D1;
}
AmountSpinBox:focus {
	border:1px solid #D1D1D1;
}
AmountSpinBox::up-button{
	height: 13px;
	image: url(:/picture/top);
}
AmountSpinBox::up-button:hover{
	height: 13px;
	image: url(:/picture/top_hover);
}
AmountSpinBox::up-button:hover{
	height: 13px;
	image: url(:/picture/top_hover);
}
AmountSpinBox::down-button{
	height: 13px;
	image: url(:/picture/down);
}
AmountSpinBox::down-button:hover{
	height: 13px;
	image: url(:/picture/down_hover);
}
AmountSpinBox::down-button:hover{
	height: 13px;
	image: url(:/picture/down_hover);
}

QComboBox{
	border:1px solid #30363F;
	min-width:157px;
	color:#FFFFFF;
	min-height:24px;
	border-radius:3px;
	background-color:#191F29;
}

QComboBox::drop-down {
	padding-right:10px;
	subcontrol-position: center right;
	border-left-width: 0px;
	border-left-color: 191F29;
	border-left-style: solid;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	image: url(:/picture/down);
}

QComboBox::down-arrow:hover {
	image: url(:/picture/down_hover);
}

QComboBox::down-arrow:pressed {
	image: url(:/picture/down_hover);
}

QComboBox QAbstractItemView{
	font-size:12px;
	background-color:#191F29;
	color: #5E6166;
	selection-color: #D1D1D1;
	selection-background-color: #0E131A;
	outline: 0px;
	border:none;
}
QComboBox QAbstractItemView::item
{
	font-size:12px;
	min-height:24px;
	border:none;
}
QComboBox QAbstractItemView::item:hover
{
	border:none;
}

QTableView {
	font-size:10px;
	color:rgba(231,231,231,1);
    gridline-color: #222831;
    background-color: #191F29;
	alternate-background-color: #191F29;
    selection-color: #82858A;
    selection-background-color: #151A23;
    border: 0px solid gray;
    border-radius: 3px;
	text-align: center;
	outline:0px;
}
QTableView::item{
	outline:0px;
}

QHeaderView {
	font-size:10px;
	color:rgba(130,133,138,1);
    background-color: #191F29;
    border: none;
    border-radius:3px;
    min-height:30px;
}
QHeaderView::section {
	font-size:10px;
	color:rgba(130,133,138,1);
    background-color: #191F29;
    border: none;
    border-radius:3px;
    min-height:30px;
} 

BitcoinGUI,
QWidget#AddressBookPage,
QDialog#AskPassphraseDialog,
QDialog#CoinControlDialog,
QWidget#RPCConsole,
QDialog#EditAddressDialog,
QDialog#HelpMessageDialog,
QWidget#Intro,
QDialog#OpenURIDialog,
QDialog#OptionsDialog,
QDialog#ReceiveRequestDialog,
QDialog#SignVerifyMessageDialog,
QDialog#TransactionDescDialog
{
	background-color:#0E1302;
}
 
QRImageWidget{
	background-color: #191F29;
}

ReceiveCoinsDialog QFrame#frame,#frame2{
	background-color:#191F29;
	border:0px;
}

ReceiveRequestDialog QTextEdit#outUri{
	background-color:#191F29;
}

OverviewPage QFrame#frame{
	background-color: #191F29;
	border-radius:3px;
	border:0px;
}

OverviewPage QFrame#frame_2{
	background-color: #191F29;
	border-radius:3px;
	border:0px;
}

OverviewPage QLabel#label_5,#labelBalanceText,#labelPendingText,#labelImmatureText,#labelTotalText,#label_4{
	font-size: 12px;
	color:rgba(130,133,138,1);
}

OverviewPage QLabel#labelBalance, #labelUnconfirmed, #labelImmature, #labelTotal,
#labelWatchAvailable,#labelWatchPending,#labelWatchImmature,#labelWatchTotal{
	font-size: 12px;
	color: rgba(255,255,255,1);
}

SendCoinsDialog QFrame#frameCoinControl,
SendCoinsDialog QFrame#frameFee,
SendCoinsDialog QScrollArea#scrollArea,
OptionsDialog QFrame#frame{
	background-color: #191F29;
	border:0px;
	border-radius:3px;
}

SendCoinsDialog QWidget#scrollAreaWidgetContents{
	background-color: #191F29;
}

SendCoinsEntry{
	background-color: #191F29;
}

SendCoinsEntry QLabel#payToLabel,#labellLabel,#amountLabel,#messageLabel
{
	font-size:12px;
	color:#D1D1D1;
}

SendCoinsEntry QLabel#labelFeeHeadline{
	font-size:12px;
	color:rgba(130,133,138,1);
}
SendCoinsEntry QLabel#messageTextLabel{
	font-size:12px;
	color:#FFFFFF;
}

SendCoinsDialog QLabel#labelFeeEstimation,#labelSmartFee2,#labelSmartFee3,#labelSmartFee{
	font-size:12px;
	color:#FFFFFF;
}

SendCoinsDialog QLabel#labelFeeEstimation:disabled,#labelSmartFee2:disabled,#labelSmartFee3:disabled,#labelSmartFee:disabled{
	font-size:12px;
	color:#82858A;
}

SendCoinsDialog QSlider#sliderSmartFee::groove:horizontal{
	height:2px;
	background: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 #FBAD8C, stop: 1 #E97792);
	border-radius:1px;
}

SendCoinsDialog QSlider#sliderSmartFee::handle:horizontal{
    width: 6px;
	height:6px;
    background: rgb(255,255,255);
    margin: -3px 0px -3px 0px;
    border-radius: 3px;
}

SendCoinsDialog QLabel#labelSmartFeeNormal,#confirmationTargetLabel,#labelSmartFeeFast{
	font-size:10px;
	color:#FFFFFF;
}

SendCoinsDialog QLabel#labelSmartFeeNormal:disabled,#confirmationTargetLabel:disabled,#labelSmartFeeFast:disabled{
	font-size:10px;
	color:#82858A;
}

SendCoinsDialog QCheckBox#checkBoxMinimumFee{
	font-size:12px;
	color:#FFFFFF;
}
SendCoinsDialog QCheckBox#checkBoxMinimumFee:disabled{
	font-size:12px;
	color:#82858A;
}

SendCoinsDialog QLabel#labelMinFeeWarning{
	font-size:12px;
	color:#FFFFFF;
}

SendCoinsDialog QLabel#labelMinFeeWarning:disabled{
	font-size:12px;
	color:#82858A;
}

SendCoinsDialog QRadioButton#radioSmartFee,#radioCustomFee{
	font-size:12px;
	color:#FFFFFF;
}

SendCoinsDialog QRadioButton#radioCustomPerKilobyte,#radioCustomAtLeast{
	font-size:12px;
	color:#FFFFFF;
} 

SendCoinsDialog QRadioButton#radioCustomPerKilobyte:disabled,#radioCustomAtLeast:disabled{
	font-size:12px;
	color:#82858A;
}

SendCoinsDialog QLabel#labelFeeHeadline{
	font-size:12px;
	color:#82858A;
}

SendCoinsDialog QLabel#labelFeeMinimized{
	font-size:12px;
	color:#FFFFFF;
}

SendCoinsDialog QLabel#label,
SendCoinsDialog QLabel#labelBalance{
	font-size:12px;
	color:#82858A;
}

ReceiveCoinsDialog QLabel#label_5{
	font-size:12px;
	color:rgba(130,133,138,1);
}

ReceiveCoinsDialog QLabel#label,
ReceiveCoinsDialog QLabel#label_2,
ReceiveCoinsDialog QLabel#label_3{
	font-size:12px;
	color:rgba(209,209,209,1);
}

ReceiveCoinsDialog QCheckBox#reuseAddress{
	font-size:12px;
	color:rgba(130,133,138,1);
}

ReceiveCoinsDialog QLabel#label_6{
	font-size:12px;
	color:rgba(130,133,138,1);
}

ReceiveCoinsDialog QFrame#frame,
ReceiveCoinsDialog QFrame#frame2,
AddressBookPage QFrame#frame,
AskPassphraseDialog QFrame#frame,
OpenURIDialog QFrame#frame{
	background-color:#191F29;
	border-radius:3px;
	border:0px;
}

TransactionView{
	background-color:#191F29;
	border-radius:3px;
}

AddressBookPage QLabel#labelExplanation{
	font-size:12px;
	color:rgba(130,133,138,1);
}

AskPassphraseDialog QLabel#warningLabel{
	font-size:12px;
	color:rgba(130,133,138,1);
}

AskPassphraseDialog QLabel#passLabel1,
AskPassphraseDialog QLabel#passLabel2,
AskPassphraseDialog QLabel#passLabel3{
	font-size:12px;
	color:rgba(209,209,209,1);
}

OpenURIDialog QLabel#label_2{
	font-size:12px;
	color:rgba(130,133,138,1);
}

OpenURIDialog QLabel#label{
	font-size:12px;
	color:rgba(209,209,209,1);
}

SignVerifyMessageDialog QLabel#infoLabel_SM,
SignVerifyMessageDialog QLabel#infoLabel_VM{
	font-size:12px;
	color:rgba(209,209,209,1);
}

SignVerifyMessageDialog QWidget#tabSignMessage,
SignVerifyMessageDialog QWidget#tabVerifyMessage, 
OptionsDialog QWidget#tabMain,
OptionsDialog QWidget#tabWallet,
OptionsDialog QWidget#tabNetwork,
OptionsDialog QWidget#tabWindow,
OptionsDialog QWidget#tabDisplay,
RPCConsole QWidget#tab_info,
RPCConsole QWidget#tab_console,
RPCConsole QWidget#tab_nettraffic,
RPCConsole QWidget#tab_peers{
	background-color:#191F29;
	border-radius:3px;
}

RPCConsole QLabel#label_9,
RPCConsole QLabel#label_10,
RPCConsole QLabel#labelNetwork,
RPCConsole QLabel#labelMempoolTitle
{
	font-size:14px;
	color:#FFFFFF
}

ModalOverlay QWidget#bgWidget
{
	background: rgba(0,0,0,220);
}

ModalOverlay QWidget#contentWidget
{
	background:#191F29;
}

ModalOverlay QLabel#infoText{
	color:#82858A;
}

ModalOverlay QLabel#infoTextStrong,
ModalOverlay QLabel#labelNumberOfBlocksLeft,
ModalOverlay QLabel#numberOfBlocksLeft,
ModalOverlay QLabel#labelLastBlockTime,
ModalOverlay QLabel#newestBlockDate,
ModalOverlay QLabel#labelSyncDone,
ModalOverlay QLabel#percentageProgress,
ModalOverlay QLabel#labelProgressIncrease,
ModalOverlay QLabel#progressIncreasePerH,
ModalOverlay QLabel#labelEstimatedTimeLeft,
ModalOverlay QLabel#expectedTimeLeft
{
	color:#FFFFFF;
}

SignVerifyMessageDialog QPushButton#addressBookButton_SM,
SignVerifyMessageDialog QPushButton#pasteButton_SM,
SignVerifyMessageDialog QPushButton#copySignatureButton_SM,
SignVerifyMessageDialog QPushButton#addressBookButton_VM,
SendCoinsEntry  QToolButton#addressBookButton,
SendCoinsEntry  QToolButton#pasteButton,
SendCoinsEntry  QToolButton#deleteButton
{
	min-height:26px;
	background-color:#191F29;
	border:none;
}

/*******btn normal********/
ReceiveRequestDialog QPushButton#btnCopyURI,
ReceiveRequestDialog QPushButton#btnCopyAddress,
ReceiveRequestDialog QPushButton#btnSaveAs,
AddressBookPage QPushButton#newAddress,
AddressBookPage QPushButton#copyAddress,
AddressBookPage QPushButton#deleteAddress,
SignVerifyMessageDialog QPushButton#clearButton_SM,
SignVerifyMessageDialog QPushButton#clearButton_VM,
QPushButton#btnCancel,
RPCConsole QPushButton#openDebugLogfileButton,
RPCConsole QPushButton#btnClearTrafficGraph
{
	min-width:85px;
	min-height:24px;
}

ModalOverlay QPushButton#closeButton,
SendCoinsDialog QPushButton#buttonChooseFee,
SendCoinsDialog QPushButton#buttonMinimizeFee,
ReceiveCoinsDialog QPushButton#clearButton,
ReceiveCoinsDialog QPushButton#showRequestButton,
ReceiveCoinsDialog QPushButton#removeRequestButton{
	min-width:57px;
	min-height:24px;
}

SendCoinsDialog QPushButton#clearButton,
SendCoinsDialog QPushButton#addButton,
OptionsDialog QPushButton#cancelButton,
SignVerifyMessageDialog QPushButton#signMessageButton_SM,
SignVerifyMessageDialog QPushButton#verifyMessageButton_VM
{
	min-width:97px;
	min-height:24px;
}

AddressBookPage QPushButton#closeButton,
OptionsDialog QPushButton#resetButton,
OpenURIDialog QPushButton#selectFileButton
{
	min-width:72px;
	min-height:24px;
}
Intro QPushButton#ellipsisButton
{
	min-width:26px;
	min-height:24px;
}
Intro QPushButton#ellipsisButton,
ModalOverlay QPushButton#closeButton,
OpenURIDialog QPushButton#selectFileButton,
ReceiveRequestDialog QPushButton#btnCopyURI,
ReceiveRequestDialog QPushButton#btnCopyAddress,
ReceiveRequestDialog QPushButton#btnSaveAs,
SendCoinsDialog QPushButton#buttonChooseFee,
SendCoinsDialog QPushButton#buttonMinimizeFee,
SendCoinsDialog QPushButton#clearButton,
SendCoinsDialog QPushButton#addButton,
ReceiveCoinsDialog QPushButton#clearButton,
ReceiveCoinsDialog QPushButton#showRequestButton,
ReceiveCoinsDialog QPushButton#removeRequestButton,
AddressBookPage QPushButton#newAddress,
AddressBookPage QPushButton#copyAddress,
AddressBookPage QPushButton#deleteAddress,
AddressBookPage QPushButton#closeButton,
OptionsDialog QPushButton#cancelButton,
OptionsDialog QPushButton#resetButton,
SignVerifyMessageDialog QPushButton#clearButton_SM,
SignVerifyMessageDialog QPushButton#clearButton_VM,
SignVerifyMessageDialog QPushButton#signMessageButton_SM,
SignVerifyMessageDialog QPushButton#verifyMessageButton_VM,
QPushButton#btnCancel,
RPCConsole QPushButton#openDebugLogfileButton,
RPCConsole QPushButton#btnClearTrafficGraph
{
	border: 1px solid #82858A;
	font-size:12px;
	color:#82858A;
	border-radius:3px;
}
Intro QPushButton#ellipsisButton:hover,
ModalOverlay QPushButton#closeButton:hover,
OpenURIDialog QPushButton#selectFileButton:hover,
ReceiveRequestDialog QPushButton#btnCopyURI:hover,
ReceiveRequestDialog QPushButton#btnCopyAddress:hover,
ReceiveRequestDialog QPushButton#btnSaveAs:hover,
SendCoinsDialog QPushButton#buttonChooseFee:hover,
SendCoinsDialog QPushButton#buttonMinimizeFee:hover,
SendCoinsDialog QPushButton#clearButton:hover,
SendCoinsDialog QPushButton#addButton:hover,
ReceiveCoinsDialog QPushButton#clearButton:hover,
ReceiveCoinsDialog QPushButton#showRequestButton:hover,
ReceiveCoinsDialog QPushButton#removeRequestButton:hover,
AddressBookPage QPushButton#newAddress:hover,
AddressBookPage QPushButton#copyAddress:hover,
AddressBookPage QPushButton#deleteAddress:hover,
AddressBookPage QPushButton#closeButton:hover,
OptionsDialog QPushButton#cancelButton:hover,
OptionsDialog QPushButton#resetButton:hover,
SignVerifyMessageDialog QPushButton#clearButton_SM:hover,
SignVerifyMessageDialog QPushButton#clearButton_VM:hover,
SignVerifyMessageDialog QPushButton#signMessageButton_SM:hover,
SignVerifyMessageDialog QPushButton#verifyMessageButton_VM:hover,
QPushButton#btnCancel:hover,
RPCConsole QPushButton#openDebugLogfileButton:hover,
RPCConsole QPushButton#btnClearTrafficGraph:hover
{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
}

Intro QPushButton#ellipsisButton:press,
ModalOverlay QPushButton#closeButton:press,
OpenURIDialog QPushButton#selectFileButton:press,
ReceiveRequestDialog QPushButton#btnCopyURI:press,
ReceiveRequestDialog QPushButton#btnCopyAddress:press,
ReceiveRequestDialog QPushButton#btnSaveAs:press,
SendCoinsDialog QPushButton#buttonChooseFee:press,
SendCoinsDialog QPushButton#buttonMinimizeFee:press,
SendCoinsDialog QPushButton#clearButton:press,
SendCoinsDialog QPushButton#addButton:press,
ReceiveCoinsDialog QPushButton#clearButton:press,
ReceiveCoinsDialog QPushButton#showRequestButton:press,
ReceiveCoinsDialog QPushButton#removeRequestButton:press,
AddressBookPage QPushButton#newAddress:press,
AddressBookPage QPushButton#copyAddress:press,
AddressBookPage QPushButton#deleteAddress:press,
AddressBookPage QPushButton#closeButton:press,
OptionsDialog QPushButton#cancelButton:press,
OptionsDialog QPushButton#resetButton:press,
SignVerifyMessageDialog QPushButton#clearButton_SM:press,
SignVerifyMessageDialog QPushButton#clearButton_VM:press,
SignVerifyMessageDialog QPushButton#signMessageButton_SM:press,
SignVerifyMessageDialog QPushButton#verifyMessageButton_VM:press,
QPushButton#btnCancel:press,
RPCConsole QPushButton#openDebugLogfileButton:press,
RPCConsole QPushButton#btnClearTrafficGraph:press
{
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius:3px;
}

Intro QPushButton#ellipsisButton:disabled,
ModalOverlay QPushButton#closeButton:disabled,
OpenURIDialog QPushButton#selectFileButton:disabled,
ReceiveRequestDialog QPushButton#btnCopyURI:disabled,
ReceiveRequestDialog QPushButton#btnCopyAddress:disabled,
ReceiveRequestDialog QPushButton#btnSaveAs:disabled,
SendCoinsDialog QPushButton#buttonChooseFee:disabled,
SendCoinsDialog QPushButton#buttonMinimizeFee:disabled,
SendCoinsDialog QPushButton#clearButton:disabled,
SendCoinsDialog QPushButton#addButton:disabled,
ReceiveCoinsDialog QPushButton#clearButton:disabled,
ReceiveCoinsDialog QPushButton#showRequestButton:disabled,
ReceiveCoinsDialog QPushButton#removeRequestButton:disabled,
AddressBookPage QPushButton#newAddress:disabled,
AddressBookPage QPushButton#copyAddress:disabled,
AddressBookPage QPushButton#deleteAddress:disabled,
AddressBookPage QPushButton#closeButton:disabled,
OptionsDialog QPushButton#cancelButton:disabled,
OptionsDialog QPushButton#resetButton:disabled,
SignVerifyMessageDialog QPushButton#clearButton_SM:disabled,
SignVerifyMessageDialog QPushButton#clearButton_VM:disabled,
SignVerifyMessageDialog QPushButton#signMessageButton_SM:disabled,
SignVerifyMessageDialog QPushButton#verifyMessageButton_VM:disabled,
QPushButton#btnCancel:disabled,
RPCConsole QPushButton#openDebugLogfileButton:disabled,
RPCConsole QPushButton#btnClearTrafficGraph:disabled
{
	color:#20242B;
	border: 1px solid #20242B;
	border-radius:3px;
}

/*******btn red********/
ReceiveRequestDialog QPushButton#buttonBox,
AddressBookPage QPushButton#exportButton,
OptionsDialog QPushButton#okButton,
QPushButton#btnOK
{
	min-width:72px;
	min-height:26px;
}

SendCoinsDialog QPushButton#sendButton,
ReceiveCoinsDialog QPushButton#receiveButton
{
	min-width:121px;
	max-width:121px;
	min-height:26px;
	max-height:26px;
}

ReceiveRequestDialog QPushButton#buttonBox,
SendCoinsDialog QPushButton#sendButton,
ReceiveCoinsDialog QPushButton#receiveButton,
AddressBookPage QPushButton#exportButton,
OptionsDialog QPushButton#okButton,
QPushButton#btnOK
{
	border:none;
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(252,172,141,1), stop: 1 rgba(229,101,143,1));
	font-size:12px;
	color:#FFFFFF;
	border-radius:3px;
}

ReceiveRequestDialog QPushButton#buttonBox:hover,
SendCoinsDialog QPushButton#sendButton:hover,
ReceiveCoinsDialog QPushButton#receiveButton:hover,
AddressBookPage QPushButton#exportButton:hover,
OptionsDialog QPushButton#okButton:hover,
QPushButton#btnOK:hover
{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

ReceiveRequestDialog QPushButton#buttonBox:press,
SendCoinsDialog QPushButton#sendButton:press,
ReceiveCoinsDialog QPushButton#receiveButton:press,
AddressBookPage QPushButton#exportButton:press,
OptionsDialog QPushButton#okButton:press,
AskPassphraseDialog QPushButton#btnOK:press
{
	background-color: QLinearGradient(x1: 0, y1: 0,
	x2: 1, y2: 0, stop: 0 rgba(250,172,153,1), stop: 1 rgba(234,126,154,1));
}

ReceiveRequestDialog QPushButton#buttonBox:disabled,
SendCoinsDialog QPushButton#sendButton:disabled,
ReceiveCoinsDialog QPushButton#receiveButton:disabled,
AddressBookPage QPushButton#exportButton:disabled,
OptionsDialog QPushButton#okButton:disabled,
QPushButton#btnOK:disabled
{
	background-color: #999999;
	color:#FFFFFF
}

Intro QFrame#frame
{
	background-color: #191F29;
	border-radius:3px;
	border:0px;
}

Intro QLabel#welcomeLabel,
Intro QLabel#sizeWarningLabel,
Intro QLabel#storageLabel,
Intro QLabel#freeSpace,
Intro QLabel#errorMessage
{
	color:#E1E1E1;
}

Intro QRadioButton#dataDirCustom,
Intro QRadioButton#dataDirDefault{
	color:#82858A;
}
Intro QRadioButton#dataDirCustom:checked,
Intro QRadioButton#dataDirDefault:checked {
	color:#FFFFFF;
}
Intro QRadioButton#dataDirCustom:unchecked ,
Intro QRadioButton#dataDirDefault:unchecked {
	color:#82858A;
}
Intro QRadioButton#dataDirCustom:disabled,
Intro QRadioButton#dataDirDefault:disabled{
	color:#20242B;
}
Intro QRadioButton#dataDirCustom::indicator,
Intro QRadioButton#dataDirDefault::indicator {
    width: 14px;
    height: 14px;
}
Intro QRadioButton#dataDirCustom::indicator:unchecked,
Intro QRadioButton#dataDirDefault::indicator:unchecked {
    image: url(:/picture/circle);
}
Intro QRadioButton#dataDirCustom::indicator:checked,
Intro QRadioButton#dataDirDefault::indicator:checked {
    image: url(:/picture/circle_hover);
}

EditAddressDialog QLabel#label,
EditAddressDialog QLabel#label_2
{
	color:rgba(209,209,209,1);
}

QLabel#aboutMessage{
	background-color:#191F29;
	border:none;
}
QWidget#scrollAreaWidgetContents{
	background-color:#191F29;
	border:none;
}
HelpMessageDialog QFrame#frame_2{
	border:none;
}
